
.single-header-cat {
    margin: 1rem 0 3rem 0;
    display: block;
    text-align: center;
}

.social-icons {
    display: block;
    padding: 0;
    margin: 20px 0;

    li {
        margin-left: .3125rem;
        margin-right: .3125rem;
        display: inline-block;
    }

    a {
        border: none;
        color: $font-color-base;
        width: 2.25rem;
        height: 2.25rem;
        display: inline-block;
        border: .0625rem solid #333;
        border-radius: 50%;
        line-height: 2.375rem;
        text-align: center;
        font-size: 1rem;
    }

    a:hover {
        //background-color: #000;
        color: $yellow;
    }

}

.img-wrapper {
  position: relative;
}

.svg-majo {
  width: 200px;
  position: absolute;
  margin-left: -200px;

  @include query(425px) {
    width: 300px;
    margin-left: -300px;
  }
}

@keyframes hideshow {
  0% { opacity: 1; }
  10% { opacity: 1; }
  15% { opacity: 0; }
  100% { opacity: 0; }
}

.svg-majotest {
  max-width: 95%;
  max-height: 95%;
  //position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  path {
    fill-opacity: 0;
    stroke: rgb(32, 32, 32);
    stroke-width: 0.5;
    stroke-dasharray: 870;
    stroke-dashoffset: 870;
    animation: draw 30s infinite linear;
  }
}

.svg-majotest02 {
  max-width: 95%;
  max-height: 95%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  path {
    fill-opacity: 0;
    stroke: $yellow;
    stroke-width: 0.5;
    stroke-dasharray: 870;
    stroke-dashoffset: 870;
    animation: draw 30s infinite linear;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.my-img {
  width: 200px;
  filter: none;
  opacity: none;

  @include query(425px) {
    width: 300px;
  }
}

.personal-info {
    h1 {
        margin-top: 15px;
    }
}

.personal-info__item {
    padding: $space-small;

    @include query(768px) {
        padding: $space-medium;
    }
}

.personal-info__text {
  @include query(768px) {
    padding-top: 8rem;
  }
}